<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		<div class="row">
			<div class="col-sm-12">
				<h2>AULA VIRTUAL</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
					<p>Las Aulas Virtuales son un recurso tecnológico que sirven para acompañar a los procesos de enseñanza y aprendizaje en los diferentes niveles educativos y, al mismo tiempo, incorporar tecnologías de manera efectiva y significativa.</p>

					<p>Su utilización permite a los distintos equipos docentes y de gestión, diseñar espacios para sistematizar, socializar y gestionar la información educativa.</p>
			</div>
			<div class="col-sm-6">
				<div class="project-info">
					<img src="images/portfolio/aulavirtual.jpg">	
				</div>
			</div>
		</div>
	</div>
</div>