<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		<div class="row">
			<div class="col-sm-12">
				<h2>IMPRESIÓN 3D</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
					<p>El Diseño y la Impresión 3D se refiere a un grupo de tecnologías de fabricación por adición donde un objeto tridimensional es creado mediante la superposición de capas sucesivas de material.</p>

					<p>Las impresoras 3D ofrecen a los desarrolladores de producto, la capacidad para imprimir partes y montajes hechos de diferentes materiales con diferentes propiedades físicas y mecánicas, a menudo con un simple proceso de montaje.</p>

					<p>Con éstas tecnologías es posible aprovechar la creatividad y los costos desarrollando piezas u objetos que sirvan para el aprendizaje o bien común.</p>
			</div>
			<div class="col-sm-6">
				<div class="project-info">
					<img src="images/portfolio/impresion3d.jpg">	
				</div>
			</div>
		</div>
	</div>
</div>