<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		<div class="row">
			<div class="col-sm-12">
				<h2>PROGRAMACIÓN</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
					<p>La Programación informática es el proceso de diseñar, codificar, depurar y mantener el código fuente de programas computacionales con el objetivo resolver un problema o situación.</p>
					<h3>¿Para qué sirve programar?</h3>
					<p>Básicamente: ¡para todo! Entonces, esta área tiene como objetivo fomentar la incorporación del pensamiento computacional especialmente en las actividades educativas que incluyan tecnologías.</p>
			</div>
			<div class="col-sm-6">
				<div class="project-info">
					<img src="images/portfolio/programacion.jpg">	
				</div>
			</div>
		</div>
	</div>
</div>