<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		<div class="row">
			<div class="col-sm-12">
				<h2>REALIDAD AUMENTADA</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
					<p>La Realidad Aumentada (RA) consiste en combinar el mundo real con el virtual mediante un dispositivo tecnológico, o sea que, los elementos físicos tangibles se combinan con elementos virtuales, logrando de esta manera crear una realidad aumentada o mixta en tiempo real.</p>

					<p>Con la utilización de ésta herramienta se busca acercar la información referida al comportamiento de un determinado contexto permitiendo el aprendizaje anticipado.</p>
			</div>
			<div class="col-sm-6">
				<div class="project-info">
					<img src="images/portfolio/realidadaumentada.jpg">	
				</div>
			</div>
		</div>
	</div>
</div>