<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		<div class="row">
			<div class="col-sm-12">
				<h2>REALIDAD VIRTUAL</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
					<p>La Realidad Virtual (RV) se refiere a un mundo virtual (generado por sistemas informáticos) donde se tiene la sensación de estar en el interior de ese mundo y, dependiendo del nivel de inmersión, se puede interactuar con este mundo y los objetos del mismo en un grado u otro.</p>

					<p>La Realidad Virtual es la tecnología que permite simular vivir esas experiencias de aprendizaje.</p>
			</div>
			<div class="col-sm-6">
				<div class="project-info">
					<img src="images/portfolio/realidadvirtual.jpg">	
				</div>
			</div>
		</div>
	</div>
</div>