<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		<div class="row">
			<div class="col-sm-12">
				<h2>ROBÓTICA</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
					<p>La Robótica es una ciencia que estudia el diseño y la implementación de robots, incluyendo múltiples disciplinas, como la mecánica, la electrónica, la informática, la inteligencia artificial y la ingeniería de control, entre otras.</p>
					<h3>Pero, ¿Qué es un robot?</h3>
					<p>Es una máquina automática o autónoma que posee cierto grado de inteligencia, capaz de percibir su entorno y de imitar determinados comportamientos del ser humano. A través de ésta área se promueve la creación de robots que exhiban un comportamiento para la mejora de una determinada actividad y/o situación.</p>
			</div>
			<div class="col-sm-6">
				<div class="project-info">
					<img src="images/portfolio/robotica.jpg">	
				</div>
			</div>
		</div>
	</div>
</div>