.main-nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#concurso .container{
	margin-top: 100px;
	margin-bottom: 100px;
}

#concurso img {
	width: 100%;
}

#concurso ul {
  list-style: none;
  padding: 0;
}
#concurso li {
  padding-left: 1.3em;
  transition: 0.4s;
}
#concurso li:hover {
  margin-left: 10px;
  transition: 0.4s;
}
#concurso li:before {
  content: "\f054"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: 12px;
	color: #7fb850;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}